<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/rabbit
    http://www.springframework.org/schema/rabbit/spring-rabbit-1.7.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}" port="${rabbitmq.port}"
                               virtual-host="${rabbitmq.vhost}" username="${rabbitmq.username}" password="${rabbitmq.password}" />

    <!-- 定义管理 -->
    <rabbit:admin connection-factory="connectionFactory" />

    <!-- 定义交换机 -->
    <rabbit:topic-exchange name="taotao-item-exchange" durable="true" auto-declare="true" />

    <!-- 定义模板 -->
    <rabbit:template id="template" connection-factory="connectionFactory" exchange="taotao-item-exchange" />

</beans>